



@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);


* {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}
img.homesecimg {
    height: 100%;
    float: right;
}
.impactLeaguePage{

}
.ImpactLeagueForm{
    position:absolute;   
    height: 100%;
    width: 100%;
}
.logo img {
    width: 25%;
}
.text img {
    width: 5%;
}
.whereami {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 50px;
  background: rgba(0, 0, 0, 0.7);
  color: #FFF;
  text-align: center;
  font-size: 40px;
  z-index: 10000;
}
.home {
    position: fixed;
    height: 100%;
    width: 100%;
    background: transparent;
}
.landscape{
    display: none;
}
.tiltlineDiv2{
transform:rotate(45deg);
}
video {
    z-index: 100;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}
.home.second {
    
    position: fixed;
    height: 80%;
    width: 50%;
    background: transparent;
    top:100%;
    right: 0;
    float: right;
    z-index: 100;
}
.home.third{
   top: 113%;
    position: fixed;
    height: 30%;
    width: 50%;
    background: transparent;
}
.home.forth{
   top: 180%;
    position: fixed;
    height: 100%;
    width: 100%;
    background: blue;
    z-index: 100;
}
.home.fifth{
   top: 280%;
    position: fixed;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 100;

}
.home.sixth{
   top: 380%;
    position: fixed;
    height: 100%;
    width: 100%;
    background: red;
    z-index: 100;
}
.home.seventh{
   top: 480%;
    position: fixed;
    height: 100%;
    width: 100%;
    background: blue;
    z-index: 100;
}
.home.eight{
   top: 580%;
    position: fixed;
    height: 100%;
    width: 100%;
    background: blue;
    z-index: 100;
}



div#middle {
    height: 100%;
    position: fixed;

}

.ContainerThirdText {
    position: fixed;
    height: 20%;
    width: 100%;
    padding: 0;
    z-index: 10;
}


.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 10px solid #1C3490;
}.loading:after {
  content: '';
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: #ef2e2e -4px -5px 3px -3px;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}


body{
    font-family:Montserrat,open sans;
}
p,h1,h2,h3,h4{
    font-family: Montserrat,open sans;
}
a{
    text-decoration: none;
    color: white;
}
.mobileWeb{
    display: none;
}
a:focus, a:hover {
    color: white;
    text-decoration: none;}
.tagline{
position:relative !important;
color:white !important;
font-weight:600;
}
.logo.sec {
    text-align: center;
    margin-top: 7%;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
}
.navbarfade.ng-scope {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
    background:transparent;
    z-index: 1000;
}
.colorbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
    background: #ef2e2e;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 1000;
}
h1.first {
    font-family: montserrat;
    font-size: 1.8vw;
    border: 2px solid #f5f5f5;
    width: 15%;
    position: absolute;
    left: 0;
    right: 0;
    top: 67%;
    padding: 3px 0px 0px 0px;
    margin: 0 auto;
    background: white;
    color: #1C3490;
    border-radius: 4px;
}
h1.first:hover {
    background: #f5f5f5;
    color: #1C3490;
}
h1.first img {
    width: 23%;
    margin-bottom: 5px;
}

section#section01 {
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
}
#section01 a {
    padding-top: 70px;
}
#section01 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
.containerHome {
    font-weight: 300;
    text-align: center;
    background-image: url("../ImpactRunSiteImages/ImpactRun_Img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 90%;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 108%;
    position: absolute;
    background-color: white;
}

.HomeSecondImage {
    width: 100%;
    position: absolute;
    right: 0;
    margin-top: 0%;
    height: 100%;
    background-size: cover;

}


.ContainerThird {
    position: absolute;
    height: 100%;
    z-index: 10;
    width: 100%;
    display: flex;
    background: rgb(255, 255, 255);
    color: white;
}
.containerSecond1 {
    width: 50vh;
    height: 70%;
    position: absolute;
    z-index: 10;
    border-left: 5px solid #1C3490;
    border-top: 5px solid #1C3490;
    border-bottom: 5px solid #1C3490;
    right: 0;
    top: 15%;
}
.SecondSLideLastText {
    position: fixed;
    text-align: center;
    color: #1C3490;
    letter-spacing: 5px;
    top: 150vh;
    left: 0;
    right:0;
}
.SecondSLideLastText h1 {
    font-weight: 700;
}
.square {
    height: 15px;
    margin: 10px 10px 3px 14px;
    width: 15px;
    display: inline-block;
    background: red;
    transform: rotate(45deg);
}
.squaresec {
    position: fixed;
    height: 15px;
    margin: 10px 10px 3px 14px;
    width: 15px;
    display: inline-block;

    background: red;
    transform: rotate(45deg);
}

.text {
    color: #FFFFFF;
    z-index: 0;
    font-family: montserrat;
    font-size:  1.8vw;
    font-weight: 100;
    width: 75%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
}
.logo {
    padding-top: 30px;
    font-family: montserrat;
    font-size: 4.7vw;
    color: white;
}

.tagline {
    position: absolute;
    top: 60%;
    font-size: 1.5vw;
    color: black;
    font-family: montserrat;
}
.ContainerSecondText {
    height: 100%;
    position: absolute;
    margin-left: 5vw;
    width: 55%;
    text-align: left;
}
.textWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}
.ContainerSecondText p {
    color: #1C3490;
    margin-left: -10%;
    font-size: 1.6vw;
    font-weight: 500;
}
.ContainerSecondText h2 {
    font-weight: 600;
    color: #1C3490;
    font-size: 2.2vw;
    position: absolute;
    z-index: 1000;
}

.lineTilt {
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    height: 100%;
    width: 1px;
    left: 20vw;
    background-color: #ef2e2e;
}
.HomeThirdImage {
    position: absolute;
    bottom: 0;
    background: white;
    width: 38.3%;
    background-size: cover;
    background-position: 76%;
    height: 90%;
    background-image: url("/ImpactRunSiteImages/ImpactRun_Img4.jpg");
}
.backgroundImageThird {
    background-image: url("/ImpactRunSiteImages/ImpactRun_QMark.png");
    position: absolute;
    height: 100%;
    width: 62%;
    right: 0;
    background-size: inherit;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: 117% 64%;
}
.textWrapThird {
    background:#1C3490;
    position: absolute;
    height: 100%;
    width: 62%;
    right: 0;
    top: 0;
    padding-left: 15vw;
    padding-top: 10vh;
}
.ContainerThirdText.wow.slideInRight {
    z-index: 100;
    position: absolute;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 100%;
}
.lineTilt.Third {
    height: 150%;
    top: 0;
    left: 12vw;
}
.containerThird1 {
    height: 67%;
    width: 30.3%;
    position: absolute;
    left: 0;
    border-right: 5px solid #1C3490;
    border-top: 5px solid #1C3490;
    border-bottom: 5px solid #1C3490;
}
.lineTilt.Second {
    position: absolute;
    height: 150%;
    left: 10vw;
    top:25%;
}
.ContainerThirdText p {
    margin-top: 100px;
    width: 25%;
    font-size: 1.4vw;
    margin-left: -52px;
    margin-bottom: 0;
}
.ContainerThirdText h2 {
    margin: 0;
    position: relative;
    font-size: 2.3vw;
    width: 100%;
    z-index: 998;
}
.NowText{
    text-align: center;
}
.NowText2{
    text-align: center;
}
.NowText h1{

    font-weight: 900;
    color: #F1F1F1;
}
.NowText2 h1{

    font-weight: 900;
    color: #F1F1F1;
}



.ContainerFourth {
    position: absolute;
    width: 100%;
    z-index: 100;
    height: 100%;
}
.now1 {
    position: absolute;
    background-image: url("/ImpactRunSiteImages/ImpactRun_Now.png");
    height: 35%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 52% 56%;
    width: 100%;
}


.now2 {
    background-image: url("/ImpactRunSiteImages/ImpactRun_Now.png");
    position: absolute;
    background-size: cover;
    height: 28%;
    width: 100%;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: 50% 10%;
}


.ContainerFifth {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: white;
}
.ContainerFourthText {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 40vh;
}
.ContainerFourthText h2 {
    position: relative;
    font-weight: 700;
    color: #1C3490;
    font-size: 5vw;
    z-index: 100;
}
.ContainerFourthText p {
    color: #1C3490;
    font-size: 2vw;
    font-weight: 700;
    position: relative;
    z-index: 1000;
}
.lineTilt2 {
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    height: 275px;
    width: 1.2px;
    background-color: #ef2e2e;
    margin-left: 50%;
    margin-top: -180px;
}
.lineTiltWrap{
    position: absolute;
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    height: 100%;
    width: 2px;
    margin: 0 auto;
    left: 30%;
    top: -28px;
}
.lineTiltWrap.sec{
    position: static;
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    height: 275px;
    width: 2px;
    margin: 0 auto;
    left: 30%;
    top: -28px;
}
.textWrapFifth {
    position: absolute;
    z-index: 100;
    top: 0;
}
.ContainerFifthText {
    width: 50vw;
    text-align: left;
    position: absolute;
    top: 0;
}
.lineTiltFifth {
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    height: 150%;
    width: 1px;
    background-color: #ef2e2e;
    position: absolute;
    top: -10%;
    left: 26%;
}
.lineTiltWrap.third {
    position: absolute;
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    height: 150%;
    width: 2px;
    margin: 0 auto;
    left: 30%;
    top: -28px;
}


.ContainerFifthText h2 {
    font-size: 3.4vw;
    color: rgb(25, 62, 130);
    font-weight: 900;
    font-family: montserrat;
}
.FifthSlidWrap {
    top: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    text-align: left;
}

.FifthBorder {
    z-index: 10;
    position: absolute;
    height: 56%;
    width: 38%;
    left: 30%;
    right: 0;
    margin: 57px 34% 0 auto;
    border: 5px solid #1C3490;
    bottom: 7vh;
}
.FifthBorder p {
    color: #1C3490;
    font-size: 3.4vh;
    width: 40%;
    margin-left: 10px;
    font-weight: 900;
}





.ContainerSixth {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 490%;
    z-index: 10;
    background: white;
}
.SixthSlidWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: left;
}

.textWrapSixth {
    padding: 5vw;
    padding-left: 13vw;
}
.ContainerSixthText {
    width: 35%;
    text-align: left;
}
.lineTiltSixth {
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    height: 196px;
    width: 1px;
    background-color: #ef2e2e;
    margin-top: -149px;
    margin-left: 168px;
}
.ContainerSixthText h2 {
    font-size: 3vw;
    color: #1C3490;
}

.SixthBorder {
    position: absolute;
    height: 56%;
    width: 38%;
    left: 30%;
    right: 0;
    z-index: 1;
    margin: 57px 34% 0 auto;
    border: 5px solid #1C3490;
    bottom: 7vh;
}
.SixthBorder p {
   color: #1C3490;
    font-size: 3.4vh;
    width: 40%;
    margin-left: 10px;
}



.ContainerSeventh {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 590%;
    z-index: 10;
    background: white;
}


.textWrapSeventh{
    padding: 5vw;
    padding-left: 13vw;

}

.ContainerSeventhText {
    width: 35%;
    text-align: left;
}
.lineTiltSeventh {
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    height: 196px;
    width: 1px;
    background-color: #ef2e2e;
    margin-top: -149px;
    margin-left: 168px;
}
.ContainerSeventhText h2 {
    font-size: 3vw;
    color: #1C3490;
}


.SeventhSlidWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: left;
    }
#Causeimg div{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 70%;
    width: 51.3%;
    float: right;
    background-size:cover;
    background-position:0%;  
}

.SeventhBorder {
    position: absolute;
    height: 56%;
    width: 38%;
    left: 30%;
    bottom: 7vh;
    right: 0;
    z-index: 1;
    margin: 57px 34% 0 auto;
    border: 5px solid #1C3490;
}
.SeventhBorder p {
    color: #1C3490;
    font-size: 3.4vh;
    width: 40%;
    margin-left: 10px;
}
.ContainerEight{
    position: absolute;
    height: 100%;
    z-index: 10;
    width: 100%;
    display: flex;
    background: white;
    color: white;
}
.HomeEightImage{
    position: absolute;
    bottom: 0;
    background: white;
    width: 38.3%;
    background-size: cover;
    background-position: 76%;
    height: 90%;
    background-image: url("/ImpactRunSiteImages/ImpactRun_Img8.jpg");
}
.backgroundImageEight {
    background-image: url("/ImpactRunSiteImages/ImpactRun_Quotes-01.png");
    position: absolute;
    height: 100%;
    width: 62%;
    right: 0;
    background-size: inherit;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: 13vw -43vh;
}
.textWrapEight{
    background: #1C3490;
    position: absolute;
    height: 100%;
    width: 62%;
    right: 0;
    top: 0;
    padding-left: 15vw;
    padding-top: 10vh;
}
.ContainerEightText p {
    width: 88%;
    font-size: 1.4vw;
    margin-left: -52px;
    margin-top: 100px;
    margin-bottom: 0;
}
.ContainerEightText h2 {
    font-size: 2.3vw;
    width: 100%;
    margin:0;
}
.ContainerEightText.wow.slideInRight {
    position: absolute;
    z-index: 10;
}
.containerEight1 {
    height: 67%;
    width: 30.3%;
    position: absolute;
    left: 0;
    border-right: 5px solid #1C3490;
    border-top: 5px solid #1C3490;
    border-bottom: 5px solid #1C3490;
}
.overlay.last {
    background: rgba(25, 62, 130, 0.79);
    z-index: 1000;
}
.lastslide {
    background-image: url("/ImpactRunSiteImages/ImpactRun_Img7.jpg");
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}
.wraplastcontent {
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
}
.lastslide h1 {
    border: 3px solid white;
    text-align: center;
    margin: 0 auto;
    /* padding: 13px; */
    font-family: montserrat;
    width: 18%;
    border-radius: 9px;
}
.btnCenter {
    width: 100%;
    margin: 0 auto;
    position:relative;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 100;
}

/*.lastslide p {
    position: absolute;
    right: 0;
    bottom: 6vh;
    color: white;
    margin-right: 150px;
    font-family: montserrat;
    font-weight: bold;
    font-size: 0.8vw;
}*/
p.contact2 {
    text-align: center;
    text-shadow:10px 5px 10px black;
    color: white;
    font-size: 1.2vw;
    font-family: montserrat;
}
.lastslide h2 {
    text-shadow:10px 5px 10px black;
    color: white;
    font-size: 1.8vw;
    font-family: montserrat;

}
img.ViewApp {
    position: absolute;
    width: 33%;
    margin: 0 auto;
    z-index: 1;
    left: 0;
    right: 0;
}
.WraptextLastSlide2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 200px;
}
.WraptextLastSlide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
#changingcontainer {
    position: fixed;
    margin-left: 10px;
}
.FifthBorder h1 {
    font-size: 2vw;
    width: 225px;
    margin-top: 1%;
    margin-left: 1%;
    color:#1C3490;
}
img#causesImg {
    height: 70%;
    width: 54%;
    position:absolute;
    bottom: 0;
    right: 0;
    background-position:10% 50%;
    background-size: cover;
}
