<div id="loader" style='z-index:10000;position:fixed;height:100%;width:100%;background:white;'> 
  <div class="loading"></div>
</div>
<div class='whereami' style='display:none'></div>
<div class='desktopWeb'>
<div class='navbarfade'>
    <div class="colorbar" data-0='height:0%' data-8300='height:100%'></div>
</div>
<div class='home' data-0='margin-top:0vh' data-1100='margin-top:-110vh'>
    <header role="banner" class="headerMain" id="headerMain">
        <div class="overlay"></div>
        <!--   <video controls loop controls autoplay>
         <source src="../ImpactRunSiteImages/Running_09_Videvo.mov" type="video/mov">
         </video> -->
        <div class="containerHome">
            <div style="position: relative;z-index: 10;height: 100%;">
                <div class="logo">
                    <a href="http://www.impactrun.com"><img src="../ImpactRunSiteImages/ImpactRun_Logo.png">
                    </a>
                   <h2 class='tagline'>Get fit Do good</h2>
                </div>
                <div class="text">
                    Real change in society must start from individual initiative
                    <br> - The Dalai Lama
                    <br><span><img src="../ImpactRunSiteImages/ImpactRun_QuotationRed-01.png"></span>
                </div>
                <a href="https://play.google.com/store/apps/details?id=com.sharesmile.share">
                    <h1 class="first"> <span><img src="../ImpactRunSiteImages/googleplayicon.png"></span>Start Now</h1>
                </a>
                <section id="section01" class="demo">
                    <a><span></span></a>
                </section>
            </div>
        </div>
    </header>
</div>
<!-- Second -->
<div class='home second' data-0='margin-top:0vh' data-1800='margin-top:-180vh'>
    <div class="HomeSecondImage">
        <img class='homesecimg' src="../ImpactRunSiteImages/ImpactRun_Img2.jpg">
        <div class="containerSecond1">
        </div>
        </img>
    </div>
</div>
<!-- Changing text -->
<div class="SecondSLideLastText" data-0='margin-top:0vh' data-1800='margin-top:-180vh'>
    <div style='width: 100%;display: flex;align-items: center; padding-left:40%'>
        <h1> For</h1>
        <div class="square"></div>
        <!--   <div class="squaresec"data-1400='transform:rotate(45deg);margin-top:0%;margin-left:0% ;opacity:0;'data-1600='transform:rotate(360deg);margin-top:20%;margin-left:35% ;opacity:1;' data-1800='transform:rotate(45deg);margin-top:50%; margin-left:35%; opacity:1' data-2000='transform:rotate(360deg);margin-top:50%; margin-left:10%; opacity:1' data-2200='transform:rotate(45deg);margin-top:50%; margin-left:0%; opacity:1'data-2500='transform:rotate(360deg);margin-top:40%; margin-left:-30%; opacity:1' data-
         2200='transform:rotate(45deg);margin-left:0%;margin-top:50%'
         2300='transform:rotate(460deg);margin-left:0%;margin-top:50%'
         data-3000='transform:rotate(45deg);margin-left:10%;margin-top:45%' data-3100='transform:rotate(360deg);margin-top:45%' data-3200='transform:rotate(45deg);margin-top:45%'data-3300='transform:rotate(360deg);margin-top:45%;margin-left:5%'data-3400='transform:rotate(45deg);margin-top:45%;margin-left:0%'> -->
        <div id="changingcontainer">
            <h1>Yourself</h1>
            <h1>Family</h1>
            <h1>Friends</h1>
            <h1>Society</h1>
        </div>
    </div>
</div>
<!-- Third -->
<div class='home third' data-0='margin-top:0vh;margin-left:-50%' data-800='margin-top:-80vh;margin-left:5%' data-1700='margin-top:-170vh;margin-left:5%'>
    <div class="textWrap ">
        <div class="ContainerSecondText ">
            <p>We believe that</p>
            <h2> Within each of us lies a basic desire of 'being useful'</h2>
        </div>
        <div class="lineTiltWrap">
            <div class="lineTilt" data-700='transform:scale(0.1);width:10px' data-900='transform:scale(1.1);width:1px'></div>
        </div>
    </div>
</div>
<!-- Forth -->
<div class='home forth' id="middle" data-0='margin-top:0vh' data-1800='margin-top:-180vh' data-2800='margin-top:-180vh' data-3300='margin-top:-280vh'>
    <div class="ContainerThird">
        <div class="backgroundImageThird"></div>
        <div class="HomeThirdImage"></div>
        <div class="containerThird1" data-1600='margin-left:-80%' data-1900='margin-left:0%'>
        </div>
        <div class="textWrapThird">
            <div class="ContainerThirdText" data-500='margin-top:30%; opacity:0' data-1400='margin-top:0%;opacity:1;' data-1600='margin-top:0%;opacity:1;' data-2100='margin-top:0%;opacity:1;' data-2200='margin-top:0%;opacity:0;'>
                <div class="centerdiv">
                    <p>How many times have you thought of helping someone else?</p>
                    <h2>Someone lesser privileged than you?</h2>
                </div>
            </div>
            <div class="ContainerThirdText" data-1900='margin-top:30%; opacity:0' data-2300='margin-top:5%;opacity:1;'>
                <div class="centerdiv">
                    <p>And how often has</p>
                    <h2>Thought changed into Action?</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fifth -->
<div class='home fifth' data-0='margin-top:0vh' data-1800='margin-top:-180vh' data-2800='margin-top:-180vh' data-3300='margin-top:-280vh' data-4300='margin-top:-380vh'>
    <div class="ContainerFourth">
        <div class="now1"></div>
        <div class="now2"></div>
        <div class="textWrapFourth">
            <div class="ContainerFourthText" data-2500='transform:scale(0.1)' data-3200='transform:scale(1.1)'>
                <h2>Now is the time</h2>
                <p>To take steps. Together.</p>
                <div class="lineTiltWrap sec">
                    <div class="lineTilt2 " data-3200='transform:scale(0.1);width:10px' data-3400='transform:scale(1.1);width:1px'></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sixth -->
<div class='home sixth' data-0='margin-top:0vh' data-1800='margin-top:-180vh' data-2800='margin-top:-180vh' data-3300='margin-top:-280vh' data-4300='margin-top:-380vh' data-5300='margin-top:-380vh' data-6300='margin-top:-480vh'>
    <div class="ContainerFifth">
        <div class="textWrapFifth  " data-3300='margin-left:-50%' data-3700='margin-left:5%'>
            <div class="ContainerFifthText">
                <h2> Every run or walk of yours now raises funds</h2>
                <div class='lineTiltWrap third' data-3600='transform:scale(0.1);width:10px' data-4000='transform:scale(1.1);width:1px'>
                    <div class="lineTiltFifth"></div>
                </div>
            </div>
        </div>
        <div class="swiper-container">
                    <div class="FifthSlidWrap">
                        <div class="FifthBorder" id="Causecontainer">
                            <p>To help a poor kid go to school</p>
                            <p>To support a farmer through rough drought days</p>
                            <p>To help a cancer victim through their tough battle</p>
                        </div>
                        <div id='Causeimg'>
                            <div style='background-image:url("../ImpactRunSiteImages/ImpactRun_Img3.jpg")'></div>
                            <div style='background-image:url("../ImpactRunSiteImages/26b.jpg")'></div>
                            <div style='background-image:url("../ImpactRunSiteImages/ImpactRun_Img6.jpg")'></div>
                        </div>
                    </div>
               </div> 
            </div>
         </div>
     <!-- Seventh -->
            <div class='home seventh' data-0='margin-top:0vh' data-1800='margin-top:-180vh' data-2800='margin-top:-180vh' data-4300='margin-top:-280vh' data-5300='margin-top:-380vh' data-6300='margin-top:-480vh' data-7300='margin-top:-480vh' data-8300="margin-top:-580vh">
                    <div class="ContainerEight">
                        <div class="HomeEightImage">
                        </div>
                        <div class="backgroundImageEight"></div>
                        <div class="containerEight1" data-6200='margin-left:-80%' data-6500='margin-left:0%'>
                        </div>
                        <div class="textWrapEight">
                            <div class="ContainerThirdText" data-5000='margin-top:30%; opacity:0' data-6000='margin-top:0%;opacity:1;' data-6400='margin-top:0%;opacity:1;' data-6800='margin-top:0%;opacity:0;'>
                                <div class="centerdiv">
                                    <p>So the next time someone asks</p>
                                    <h2>What good did you do today?</h2>
                                </div>
                            </div>
                            <div class="ContainerThirdText" data-6400='margin-top:30%; opacity:0' data-6900='margin-top:5%;opacity:1;'>
                                <div class="centerdiv">
                                    <p>Show them ImpactRun</p>
                                    <h2>And take them for a jog!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                 <!-- Eight -->
            <div class='home eight' data-0='margin-top:0vh' data-1800='margin-top:-180vh' data-2800='margin-top:-180vh' data-4300='margin-top:-280vh' data-5300='margin-top:-380vh' data-6300='margin-top:-480vh' data-7300='margin-top:-480vh' data-8300="margin-top:-580vh">
               <div class="overlay last"></div>
                <video autoplay loop>
                  <source src="../ImpactRunSiteImages/videorun.mp4" type="video/mp4">
                     <source src="movie.ogg" type="video/ogg">
                </video>
                <div class="lastslide">
                    <div class="wraplastcontent">
                     <div class="logo sec">
                    <a href="http://www.impactrun.com"><img src="../ImpactRunSiteImages/ImpactRun_Logo.png">
                    </a>
                    <H2 class="tagline sec">Run for a cause Everyday !</H2>
                </div>
                      <div class="btnCenter">
                        <a href="https://play.google.com/store/apps/details?id=com.sharesmile.share">
                            <h1 class="first"> <span><img src="../ImpactRunSiteImages/googleplayicon.png"></span>Start Now</h1>
                        </a>
                        <!-- <a href="https://play.google.com/store/apps/details?id=com.sharesmile.share">
                            <img class="ViewApp"src="/ImpactRunSiteImages/ViewApp.png">
                           </a> -->
                    </div>
                    

                    <!-- <div class="WraptextLastSlide">
                       <h2  >ImpactRun</h2>
                             <p  >Run for a cause. Everyday.</p>
                             </div> -->
                    <div class="WraptextLastSlide2">
                        <h2>To know more</h2>
                        <p class=" contact2">+91-8879589092</p>
                    </div>
                </div>
                </div>
            </div>
         </div>



    <!--  MobileWeb -->

    <div class='mobileWeb'>

<div class='navbarfade'>
    <div class="colorbar" data-0='height:0%' data-5300='height:100%'></div>
</div>
<div class='home' data-0='margin-top:0vh' data-1100='margin-top:-110vh'>
    <header role="banner" class="headerMain" id="headerMain">
        <div class="overlay"></div>
        <!--   <video controls loop controls autoplay>
         <source src="../ImpactRunSiteImages/Running_09_Videvo.mov" type="video/mov">
         </video> -->
        <div class="containerHome">
            <div style="position: relative;z-index: 10;height: 100%;">
                <div class="logo">
                    <a href="http://www.impactrun.com"><img src="../ImpactRunSiteImages/ImpactRun_Logo.png">
                    </a>
                   <h2 class='tagline'>Get fit Do good</h2>
                </div>
                <div class="text">
                    Real change in society must start from individual initiative
                    <br> - The Dalai Lama
                    <br><span><img src="../ImpactRunSiteImages/ImpactRun_QuotationRed-01.png"></span>
                </div>
                <a href="https://play.google.com/store/apps/details?id=com.sharesmile.share">
                    <h1 class="first"> <span><img src="../ImpactRunSiteImages/googleplayicon.png"></span>Start Now</h1>
                </a>
                <section id="section01" class="demo">
                    <a><span></span></a>
                </section>
            </div>
        </div>
    </header>
</div>
<!-- Second -->
<div class='home second' data-0='margin-top:0vh' data-1800='margin-top:-180vh'>
    <div class="HomeSecondImage">
        <img class='homesecimg' src="../ImpactRunSiteImages/ImpactRun_Img2.jpg">
        <div class="containerSecond1">
        </div>
        </img>
    </div>
</div>
<!-- Changing text -->
<div class="SecondSLideLastText" data-0='margin-top:0vh' data-1800='margin-top:-180vh'>
    <div style='width: 100%;display: flex;align-items: center; padding-left:40%'>
        <h1> For</h1>
        <div class="square"></div>
        <!--   <div class="squaresec"data-1400='transform:rotate(45deg);margin-top:0%;margin-left:0% ;opacity:0;'data-1600='transform:rotate(360deg);margin-top:20%;margin-left:35% ;opacity:1;' data-1800='transform:rotate(45deg);margin-top:50%; margin-left:35%; opacity:1' data-2000='transform:rotate(360deg);margin-top:50%; margin-left:10%; opacity:1' data-2200='transform:rotate(45deg);margin-top:50%; margin-left:0%; opacity:1'data-2500='transform:rotate(360deg);margin-top:40%; margin-left:-30%; opacity:1' data-
         2200='transform:rotate(45deg);margin-left:0%;margin-top:50%'
         2300='transform:rotate(460deg);margin-left:0%;margin-top:50%'
         data-3000='transform:rotate(45deg);margin-left:10%;margin-top:45%' data-3100='transform:rotate(360deg);margin-top:45%' data-3200='transform:rotate(45deg);margin-top:45%'data-3300='transform:rotate(360deg);margin-top:45%;margin-left:5%'data-3400='transform:rotate(45deg);margin-top:45%;margin-left:0%'> -->
        <div id="changingcontainersec">
            <h1>Yourself</h1>
            <h1>Family</h1>
            <h1>Friends</h1>
            <h1>Society</h1>
        </div>
    </div>
</div>
<!-- Third -->
<div class='home third' data-0='margin-top:0vh' data-800='margin-top:-80vh' data-1700='margin-top:-170vh'>
    <div class="textWrap ">
        <div class="ContainerSecondText ">
            <p>We believe that</p>
            <h2> Within each of us lies a basic desire of 'being useful'</h2>
        </div>
        <div class="lineTiltWrap">
            <div class="lineTilt" data-700='transform:scale(0.1);width:10px' data-900='transform:scale(1.1);width:1px'></div>
        </div>
    </div>
</div>
<!-- Forth -->
<div class='home forth' id="middle" data-0='margin-top:0vh' data-1800='margin-top:-180vh' data-2800='margin-top:-280vh' data-3300='margin-top:-280vh'>
    <div class="ContainerThird">
        <div class="backgroundImageThird"></div>
        <div class="HomeThirdImage"></div>
        <div class="containerThird1" data-1600='margin-left:-80%' data-1900='margin-left:0%'>
        </div>
        <div class="textWrapThird">
            <div class="ContainerThirdText" >
                <div class="centerdiv">
                    <p>How many times have you thought of helping someone else?</p>
                    <h2>Someone lesser privileged than you?</h2>
                </div>
            </div>
            <div class="ContainerThirdText">
                <div class="centerdiv sec">
                    <p>And how often has</p>
                    <h2>Thought changed into Action?</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fifth -->
<div class='home fifth' data-0='margin-top:0vh' data-1800='margin-top:-180vh' data-2800='margin-top:-280vh' data-3300='margin-top:-380vh' data-4300='margin-top:-280vh'>
    <div class="ContainerFourth">
        <div class="now1"></div>
        <div class="now2"></div>
        <div class="textWrapFourth">
            <div class="ContainerFourthText" data-1500='transform:scale(0.1)' data-2200='transform:scale(1.1)'>
                <h2>Now is the time</h2>
                <p>To take steps. Together.</p>
                <div class="lineTiltWrap sec">
                    <div class="lineTilt2 " data-2200='transform:scale(0.1);width:10px' data-2400='transform:scale(1.1);width:1px'></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sixth -->
<div class='home sixth' data-0='margin-top:0vh' data-1800='margin-top:-180vh' data-2800='margin-top:-280vh' data-3300='margin-top:-380vh' data-4300='margin-top:-480vh' data-5300='margin-top:-580vh'>
    <div class="ContainerFifth">
        <div class="textWrapFifth  " data-3300='margin-left:-50%' data-3700='margin-left:5%'>
            <div class="ContainerFifthText">
                <h2> Every run or walk of yours now raises funds</h2>
                <div class='lineTiltWrap third' data-3600='transform:scale(0.1);width:10px' data-4000='transform:scale(1.1);width:1px'>
                    <div class="lineTiltFifth"></div>
                </div>
            </div>
        </div>
        <div class="swiper-container">
                    <div class="FifthSlidWrap">
                        <div class="FifthBorder" id="Causecontainersec">
                            <p>To help a poor kid go to school</p>
                            <p>To support a farmer through rough drought days</p>
                            <p>To help a cancer victim through their tough battle</p>
                        </div>
                        <div id='Causeimgsec'>
                            <div style='background-image:url("../ImpactRunSiteImages/ImpactRun_Img3.jpg")'></div>
                            <div style='background-image:url("../ImpactRunSiteImages/26b.jpg")'></div>
                            <div style='background-image:url("../ImpactRunSiteImages/ImpactRun_Img6.jpg")'></div>
                        </div>
                    </div>
               </div> 
            </div>
         </div>
     <!-- Seventh -->
            <div class='home seventh' data-0='margin-top:0vh' data-1800='margin-top:-180vh' data-2800='margin-top:-280vh' data-3300='margin-top:-380vh' data-4300='margin-top:-480vh' data-5300='margin-top:-580vh'>
                    <div class="ContainerEight">
                        <div class="HomeEightImage">
                        </div>
                        <div class="backgroundImageEight"></div>
                        <div class="containerEight1" >
                        </div>
                        <div class="textWrapEight">
                            <div class="ContainerThirdText" >
                                <div class="centerdiv">
                                    <p>So the next time someone asks</p>
                                    <h2>What good did you do today?</h2>
                                </div>
                            </div>
                            <div class="ContainerThirdText" >
                                <div class="centerdiv sec">
                                    <p>Show them ImpactRun</p>
                                    <h2>And take them for a jog!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                 <!-- Eight -->
            <div class='home eight' data-0='margin-top:0vh' data-1800='margin-top:-180vh' data-2800='margin-top:-280vh' data-4300='margin-top:-480vh' data-5300='margin-top:-580vh' >
               <div class="overlay last"></div>
                <video autoplay loop>
                  <source src="../ImpactRunSiteImages/videorun.mp4" type="video/mp4">
                     <source src="movie.ogg" type="video/ogg">
                </video>
                <div class="lastslide">
                    <div class="wraplastcontent">
                     <div class="logo sec">
                    <a href="http://www.impactrun.com"><img src="../ImpactRunSiteImages/ImpactRun_Logo.png">
                    </a>
                    <H2 class="tagline sec">Run for a cause Everyday !</H2>
                </div>
                      <div class="btnCenter">
                        <a href="https://play.google.com/store/apps/details?id=com.sharesmile.share">
                            <h1 class="first"> <span><img src="../ImpactRunSiteImages/googleplayicon.png"></span>Start Now</h1>
                        </a>
                        <!-- <a href="https://play.google.com/store/apps/details?id=com.sharesmile.share">
                            <img class="ViewApp"src="/ImpactRunSiteImages/ViewApp.png">
                           </a> -->
                    </div>
                    

                    <!-- <div class="WraptextLastSlide">
                       <h2  >ImpactRun</h2>
                             <p  >Run for a cause. Everyday.</p>
                             </div> -->
                    <div class="WraptextLastSlide2">
                        <h2>To know more</h2>
                        <p class=" contact2">+91-8879589092</p>
                    </div>
                </div>
                </div>
            </div>

    </div>