<div id="loader" style='z-index:10000;position:fixed;height:100%;width:100%;background:white;'>
    <div class="loading"></div>
</div>
<div class='whereami' style='display:none'></div>
<div class='desktopWeb'>
    <div class='navbarfade'>
        <div class="colorbar" data-0='height:0%' data-7300='height:100%'></div>
    </div>
    <div class='home' data-0='margin-top:0vh' data-1100='margin-top:-110vh'>
        <header role="banner" class="headerMain" id="headerMain">
            <div class="overlay"></div>
            <div class="containerHome">
                <div style="position: relative;z-index: 10;height: 100%;">
                    <div class="logo">
                        <a href="http://www.impactrun.com"><img src="../ImpactRunSiteImages/ImpactRun_Logo.png">
                        </a>
                        <a class='privacypolicytag' href="http://localhost:8000/#/privacypolicy">
                            Privacypolicy
                        </a>
                        <h2 class='tagline'>Get fit. Do good.</h2>
                    </div>
                    <div class="centerFlex">
                     <div class="text">
                        Raise Funds for Charity by simply Walking !
                     </div>
                     </div>
                    <div class="wrapBtncontent">
                        <div class="Btninline">
                           
                            <!-- <a href="#/AppDownload">
                        <div ng-controller="HomeController">
                            <div ng-controller="HomeController">
                                <div class="Downloadbtn" ng-click='Googleanal()'>
                                    <h1 class="first"> <span><img src="../ImpactRunSiteImages/googleplayicon.png"></span>Start Now</h1>
                                </div>
                            </div>
                        </div>
                    </a> -->
                            <div class="downloadBtnWrap">
                                <a href="https://goo.gl/qJPjzb">
                                    <div class="appleappDownload">
                                    </div>
                                </a>
                                <a href="http://www.impactrun.com/#/AppDownload">
                                    <div class="googleappDownload">
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                    <section id="section01" class="demo">
                        <a><span></span></a>
                    </section>
                </div>
            </div>
        </header>
    </div>
    <!-- Second -->
    <div class='home second' data-0='margin-top:0vh' data-1800='margin-top:-180vh'>
        <div class="HomeSecondImage">
            <img class='homesecimg' src="../ImpactRunSiteImages/ImpactRun_Img2.jpg">
            <div class="containerSecond1">
            </div>
            </img>
        </div>
    </div>
    <!-- Changing text -->
    <div class="SecondSLideLastText" data-0='margin-top:0vh' data-1800='margin-top:-180vh'>
        <div style='width: 100%;display: flex;align-items: center; padding-left:40%'>
            <h1> For</h1>
            <div class="square"></div>
            <!--   <div class="squaresec"data-1400='transform:rotate(45deg);margin-top:0%;margin-left:0% ;opacity:0;'data-1600='transform:rotate(360deg);margin-top:20%;margin-left:35% ;opacity:1;' data-1800='transform:rotate(45deg);margin-top:50%; margin-left:35%; opacity:1' data-2000='transform:rotate(360deg);margin-top:50%; margin-left:10%; opacity:1' data-2200='transform:rotate(45deg);margin-top:50%; margin-left:0%; opacity:1'data-2500='transform:rotate(360deg);margin-top:40%; margin-left:-30%; opacity:1' data-
             2200='transform:rotate(45deg);margin-left:0%;margin-top:50%'
             2300='transform:rotate(460deg);margin-left:0%;margin-top:50%'
             data-3000='transform:rotate(45deg);margin-left:10%;margin-top:45%' data-3100='transform:rotate(360deg);margin-top:45%' data-3200='transform:rotate(45deg);margin-top:45%'data-3300='transform:rotate(360deg);margin-top:45%;margin-left:5%'data-3400='transform:rotate(45deg);margin-top:45%;margin-left:0%'> -->
            <h1 id="cycle-fade">
       
        </h1>
        </div>
    </div>
    <!-- Third -->
    <div class='home third' data-0='margin-top:0vh;margin-left:-50%' data-800='margin-top:-80vh;margin-left:5%' data-1700='margin-top:-170vh;margin-left:5%'>
        <div class="textWrap ">
            <div class="ContainerSecondText ">
                <p>We believe that</p>
                <h2> Within each of us lies a basic desire of 'being useful'</h2>
            </div>
            <div class="lineTiltWrap">
                <div class="lineTilt" data-700='transform:scale(0.1);width:10px' data-900='transform:scale(1.1);width:1px'></div>
            </div>
        </div>
    </div>
    <!-- Forth -->
    <div class='home forth' id="middle" data-0='margin-top:0vh' data-1800='margin-top:-180vh' data-2800='margin-top:-180vh' data-3300='margin-top:-280vh'>
        <div class="ContainerThird">
            <div class="backgroundImageThird"></div>
            <div class="HomeThirdImage"></div>
            <div class="containerThird1" data-1600='margin-left:-80%' data-1900='margin-left:0%'>
            </div>
            <div class="textWrapThird">
                <div class="ContainerThirdText" data-500='margin-top:30%; opacity:0' data-1400='margin-top:0%;opacity:1;' data-1600='margin-top:0%;opacity:1;' data-2100='margin-top:0%;opacity:1;' data-2200='margin-top:0%;opacity:0;'>
                    <div class="centerdiv">
                        <p>How many times have you thought of helping someone else?</p>
                        <h2>Someone lesser privileged than you?</h2>
                    </div>
                </div>
                <div class="ContainerThirdText" data-1900='margin-top:30%; opacity:0' data-2300='margin-top:5%;opacity:1;'>
                    <div class="centerdiv">
                        <p>And how often has</p>
                        <h2>Thought changed into Action?</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fifth -->
    <div class='home fifth' data-0='margin-top:0vh' data-1800='margin-top:-180vh' data-2800='margin-top:-180vh' data-3300='margin-top:-280vh' data-4300='margin-top:-380vh'>
        <div class="ContainerFourth">
            <div class="now1"></div>
            <div class="now2"></div>
            <div class="textWrapFourth">
                <div class="ContainerFourthText" data-2500='transform:scale(0.1)' data-3200='transform:scale(1.1)'>
                    <h2>Now is the time</h2>
                    <p>To take steps. Together.</p>
                    <div class="lineTiltWrap sec">
                        <div class="lineTilt2 " data-3200='transform:scale(0.1);width:10px' data-3400='transform:scale(1.1);width:1px'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sixth -->
    <div class='home sixth' data-0='margin-top:0vh' data-1800='margin-top:-180vh' data-2800='margin-top:-180vh' data-3300='margin-top:-280vh' data-4300='margin-top:-380vh' data-5300='margin-top:-480vh'>
        <div class="ContainerFifth">
            <div class="textWrapFifth  " data-3300='margin-left:-50%' data-3700='margin-left:5%'>
                <div class="ContainerFifthText">
                    <h2> Every run or walk of yours now raises funds</h2>
                    <div class='lineTiltWrap third' data-3600='transform:scale(0.1);width:10px' data-4000='transform:scale(1.1);width:1px'>
                        <div class="lineTiltFifth"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-container">
                <div class="FifthSlidWrap">
                    <div class="FifthBorder">
                        <h1 id="causes">
                        </h1>
                    </div>

                    <img id='causesImg'>

                    </img>

                </div>
            </div>
        </div>
    </div>
    <!-- Seventh -->
    <div class='home seventh' data-0='margin-top:0vh' data-2800='margin-top:-180vh' data-3300='margin-top:-280vh' data-4300='margin-top:-380vh' data-5300='margin-top:-480vh' data-6300='margin-top:-480vh' data-7300="margin-top:-580vh">
        <div class="ContainerEight">
            <div class="HomeEightImage">
            </div>
            <div class="backgroundImageEight"></div>
            <div class="containerEight1" data-5200='margin-left:-80%' data-5500='margin-left:0%'>
            </div>
            <div class="textWrapEight">
                <div class="ContainerThirdText" data-3000='margin-top:30%; opacity:0' data-5000='margin-top:0%;opacity:1;' data-5400='margin-top:0%;opacity:1;' data-5800='margin-top:0%;opacity:0;'>
                    <div class="centerdiv">
                        <p>So the next time someone asks</p>
                        <h2>What good did you do today?</h2>
                    </div>
                </div>
                <div class="ContainerThirdText" data-5400='margin-top:30%; opacity:0' data-5900='margin-top:5%;opacity:1;'>
                    <div class="centerdiv">
                        <p>Show them ImpactRun</p>
                        <h2>And take them for a jog!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Eight -->
    <div class='home eight' data-0='margin-top:0vh' data-1800='margin-top:-180vh' data-2800='margin-top:-180vh' data-3300='margin-top:-280vh' data-4300='margin-top:-380vh' data-5300='margin-top:-480vh' data-6300='margin-top:-480vh' data-7300='margin-top:-580vh'>
        <div class="overlay last"></div>
        <video autoplay loop>
            <source src="../ImpactRunSiteImages/videorun.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
        </video>
        <div class="lastslide">
            <div class="wraplastcontent">
                <div class="logo sec">
                    <a href="http://www.impactrun.com"><img src="../ImpactRunSiteImages/ImpactRun_Logo.png">
                    </a>
                    <H2 class="tagline sec">Run for a cause Everyday !</H2>
                </div>
                <div class="btnCenter">
                    <div class="downloadBtnWrap">
                        <a href="https://goo.gl/qJPjzb">
                            <div class="appleappDownload">
                            </div>
                        </a>
                        <a href="http://www.impactrun.com/#/AppDownload">
                            <div class="googleappDownload">
                            </div>
                        </a>
                        <a href="http://localhost:8000/#/privacypolicy">
                            
                        </a>
                    </div>
                    <!--  <a href="https://play.google.com/store/apps/details?id=com.sharesmile.share">
                        <div ng-controller="HomeController">
                            <div ng-controller="HomeController">
                                <div class="Downloadbtn" ng-click='Googleanal()'>
                                    <h1 class="first"> <span><img src="../ImpactRunSiteImages/googleplayicon.png"></span>Start Now</h1>
                                </div>
                            </div>
                        </div>
                    </a> -->
                    <!-- <a href="https://play.google.com/store/apps/details?id=com.sharesmile.share">
                            <img class="ViewApp"src="/ImpactRunSiteImages/ViewApp.png">
                           </a> -->
                </div>


                <!-- <div class="WraptextLastSlide">
                       <h2  >ImpactRun</h2>
                             <p  >Run for a cause. Everyday.</p>
                             </div> -->
                <div class="WraptextLastSlide2">
                    <h2>To know more</h2>
                    <p class=" contact2">+91-8377067709</p>
                </div>
            </div>
        </div>
    </div>
</div>



<!--  MobileWeb -->
<div class='mobileWeb'>

    <div class='navbarfade'>
        <div class="colorbar" data-0='height:0%' data-5300='height:100%'></div>
    </div>
    <div class='home'>
        <header role="banner" class="headerMain" id="headerMain">
            <div class="overlay"></div>
            <!--   <video controls loop controls autoplay>
         <source src="../ImpactRunSiteImages/Running_09_Videvo.mov" type="video/mov">
         </video> -->
            <div class="containerHome">
                <div style="position: relative;z-index: 10;height: 100%;">
                    <div class="logo">
                        <a href="http://www.impactrun.com"><img src="../ImpactRunSiteImages/ImpactRun_Logo.png">
                        </a>
                        <h2 class='tagline'>Get fit Do good</h2>
                    </div>
                    <div class='centerFlex'> 
                    <div class="text">
                        Raise Funds for Charity by simply Walking !                        
                    </div>
                    </div>
                    <div class="wrapBtncontent">
                        <div class="Btninline">
                            
                            <!-- <a href="#/AppDownload">
                        <div ng-controller="HomeController">
                            <div ng-controller="HomeController">
                                <div class="Downloadbtn" ng-click='Googleanal()'>
                                    <h1 class="first"> <span><img src="../ImpactRunSiteImages/googleplayicon.png"></span>Start Now</h1>
                                </div>
                            </div>
                        </div>
                    </a> -->
                            <div class="downloadBtnWrap">
                                <a href="https://goo.gl/qJPjzb">
                                    <div class="appleappDownload">
                                    </div>
                                </a>
                                <a href="http://www.impactrun.com/#/AppDownload">
                                    <div class="googleappDownload">
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                    <section id="section01" class="demo">
                        <a><span></span></a>
                    </section>
                </div>
            </div>
        </header>
    </div>
    <!-- Second -->
    <div class='home second'>
        <div class="HomeSecondImage">
            <img class='homesecimg' src="../ImpactRunSiteImages/ImpactRun_Img2.jpg">
            <div class="containerSecond1">
            </div>
            </img>
        </div>
    </div>
    <!-- Changing text -->
    <div class="SecondSLideLastText">
        <div style='width: 100%;display: flex;align-items: center;left:0;right:0;margin:0 auto;position:absolute;width:50%;'>
            <h1> For</h1>
            <div class="square"></div>
            <!--   <div class="squaresec"data-1400='transform:rotate(45deg);margin-top:0%;margin-left:0% ;opacity:0;'data-1600='transform:rotate(360deg);margin-top:20%;margin-left:35% ;opacity:1;' data-1800='transform:rotate(45deg);margin-top:50%; margin-left:35%; opacity:1' data-2000='transform:rotate(360deg);margin-top:50%; margin-left:10%; opacity:1' data-2200='transform:rotate(45deg);margin-top:50%; margin-left:0%; opacity:1'data-2500='transform:rotate(360deg);margin-top:40%; margin-left:-30%; opacity:1' data-
         2200='transform:rotate(45deg);margin-left:0%;margin-top:50%'
         2300='transform:rotate(460deg);margin-left:0%;margin-top:50%'
         data-3000='transform:rotate(45deg);margin-left:10%;margin-top:45%' data-3100='transform:rotate(360deg);margin-top:45%' data-3200='transform:rotate(45deg);margin-top:45%'data-3300='transform:rotate(360deg);margin-top:45%;margin-left:5%'data-3400='transform:rotate(45deg);margin-top:45%;margin-left:0%'> -->
            <h1 id="cycle-fade2">
       
        </h1>
        </div>
    </div>
    <!-- Third -->
    <div class='home third'>
        <div class="textWrap ">
            <div class="ContainerSecondText ">
                <p>We believe that</p>
                <h2> Within each of us lies a basic desire of 'being useful'</h2>
            </div>
            <!-- <div class="lineTilt" data-700='transform:scale(0.1);width:10px' data-900='transform:scale(1.1);width:1px'></div> -->
        </div>
    </div>
    <!-- Forth -->
    <div class='home forth' id="middle">
        <div class="ContainerThird">
            <div class="backgroundImageThird"></div>
            <div class="HomeThirdImage"></div>
            <div class="containerThird1">
            </div>
            <div class="textWrapThird">
                <div class="ContainerThirdText">
                    <div class="centerdiv">
                        <p>How many times have you thought of helping someone else?</p>
                        <h2>Someone lesser privileged than you?</h2>
                    </div>
                </div>
                <div class="ContainerThirdText">
                    <div class="centerdiv sec">
                        <p>And how often has</p>
                        <h2>Thought changed into Action?</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fifth -->
    <div class='home fifth'>
        <div class="ContainerFourth">
            <div class="now1"></div>
            <div class="now2"></div>
            <div class="textWrapFourth">
                <div class="ContainerFourthText">
                    <h2>Now is the time</h2>
                    <p>To take steps Together.</p>
                    <div class="lineTilt2 " data-2200='transform:scale(0.1);width:10px' data-2400='transform:scale(1.1);width:1px'></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sixth -->
    <div class='home sixth'>
        <div class="ContainerFifth">
            <div class="textWrapFifth">
                <div class="ContainerFifthText">
                    <h2> Every run or walk of yours now raises funds</h2>
                    <div class='lineTiltWrap third'>
                        <div class="lineTiltFifth"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-container">
                <div class="FifthSlidWrap">
                    <div class="FifthBorder" id="Causecontainersec">
                        <h1 id="causes2">
                        </h1>
                    </div>
                    <div id='Causeimgsec2'>
                        <img id='causesImg2' />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Seventh -->
    <div class='home seventh'>
        <div class="ContainerEight">
            <div class="HomeEightImage">
            </div>
            <div class="backgroundImageEight"></div>
            <div class="containerEight1">
            </div>
            <div class="textWrapEight">
                <div class="ContainerThirdText">
                    <div class="centerdiv">
                        <p>So the next time someone asks</p>
                        <h2>What good did you do today?</h2>
                    </div>
                </div>
                <div class="ContainerThirdText">
                    <div class="centerdiv sec">
                        <p>Show them</p>
                        <br>
                        <h1><b>ImpactRun</b></h1>
                        <h2>And take them for a jog!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Eight -->
    <div class='home eight'>
        <div class="lastslide">
            <div class="wraplastcontent">
                <div class="logo sec">
                    <a href="http://www.impactrun.com"><img src="../ImpactRunSiteImages/ImpactRun_Logo.png">
                    </a>
                    <H2 class="tagline sec">Run for a cause Everyday !</H2>
                </div>
                <div class="btnCenter">
                    <div class="downloadBtnWrap">
                        <a href="https://goo.gl/qJPjzb">
                            <div class="appleappDownload">
                            </div>
                        </a>
                        <a href="http://www.impactrun.com/#/AppDownload">
                            <div class="googleappDownload">
                            </div>
                        </a>
                    </div>
                    <!--  <a href="https://play.google.com/store/apps/details?id=com.sharesmile.share">
                        <div ng-controller="HomeController">
                            <div ng-controller="HomeController">
                                <div class="Downloadbtn" ng-click='Googleanal()'>
                                    <h1 class="first"> <span><img src="../ImpactRunSiteImages/googleplayicon.png"></span>Start Now</h1>
                                </div>
                            </div>
                        </div>
                    </a> -->
                    <!-- <a href="https://play.google.com/store/apps/details?id=com.sharesmile.share">
                            <img class="ViewApp"src="/ImpactRunSiteImages/ViewApp.png">
                           </a> -->
                </div>
                <div class="WraptextLastSlide2">
                    <h2>To know more</h2>
                    <p class=" contact2">+91-8377067709</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='landscape'>
    <h1>this site is not for landscape please rotate your phone to portrait </h1>
    <img src="../ImpactRunSiteImages/landscape.png">
</div>